<div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>

    <ul class='item-lists'>
      <% @items.each do |item|%>
      <li class='list'>
        <%= link_to item_path(item.id) do%>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>
          
          
          <% if item.purchase_record.present? %>
           <div class='sold-out'> 
             <span>Sold Out!!</span> 
           </div>
         
          <% end %>
        </div>
        
        
        
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
         
            <span><%= item.price %>円<br><%= item.delivery_cost.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </li>